
@import '../../bootstrap/less/variables.less';
@icon-font-path: "../../bootstrap/fonts/";
@import 'bootstrap.less';

form{
	.loading-sign{
		display:none;
	}

	.btn-primary{
		display:block;
		width:100%;
		margin-top:7px;
	}
	textarea{
		display: block;
		width:100%;
	}
}
.loading form{
	.loading-sign{
		margin-top:7px;
		display:block;
		background-color:#CCC;
		text-align: center;
	}
	.btn{
		display:none;
	}
}

.words-hightlight{
	.highlight{
		color:#FFF;
		background-color: #000000;
	}
}

.formulas span{
	display:none;
}
.formulas .active span{
	display:block;
	float:right;
}

