<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block blockname %}Viz Health Lit{% endblock blockname %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block styles %}
            <link rel="stylesheet" href="{{STATIC_URL}}vizhealthlit/css/styles.css">
        {% endblock styles %}
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <a href="/" class="navbar-brand">VizHealthLit</a>
            </div>
        </div>
        <div class="container">
            <div class="content content-main">
                {% block content %}
                <p>Hello world!</p>    
                {% endblock content %}
            </div>
        </div>
        {% block scripts %}
        <!-- Enter scripts here -->
        <script type="text/javascript" src="{{STATIC_URL}}jquery/jquery.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}jquery/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}d3/d3.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}vizhealthlit/js/main.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}vizhealthlit/js/bars.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}vizhealthlit/js/tree.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}vizhealthlit/js/pizza.js"></script>

        {% endblock scripts %}
    </body>
</html>