[submodule "vizhealthlit/static/bootstrap"]
	path = vizhealthlit/static/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "vizhealthlit/static/d3"]
	path = vizhealthlit/static/d3
	url = https://github.com/mbostock/d3.git
[submodule "readability"]
	path = readability
	url = https://github.com/nickdotreid/readability
