{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block scripts %}
{{block.super}}
<script type="text/javascript">
	$(document).ready(function(){
		var text = new TextModel();

		var uploadView = new UploadView({
			model: text,
			el: $('#upload-pane')[0],
		});

		uploadView.on("uploaded",function(){
			$("#upload-pane").hide();
			$("#viz-pane").show();
		});

		var textView = new TextView({
			model: text,
			el: $("#text")[0],
		});

		var settingsView = new SettingsView({
			model: text,
			el:$("#settings")[0],
		});

		$("#upload-pane").show();
		$("#viz-pane").hide();
	});
</script>
{% endblock scripts %}

{% block content %}
<div id="upload-pane" class="pane upload-pane">
{% crispy form %}
</div>
<div id="viz-pane" class="pane row">
	<div id="settings" class="col-sm-3">
		<ul class="formulas nav nav-pills nav-stacked">
			<li data-formula="FleschReadingEase"><a href="#">Reading Ease</a></li>
			<li data-formula="FleschKincaidGradeLevel"><a href="#">Reading Level</a></li>
			<li data-formula="GunningFogIndex"><a href="#">Gunning Fog</a></li>
			<li data-formula="SMOGIndex"><a href="#">SMOG</a></li>
			<li data-formula="custom" class="active custom"><a href="#">Custom</a></li>
		</ul>
		{% crispy settings %}
	</div>	
	<div class="col-sm-9">
		<div id="text"></div>
	</div>
</div>
{% endblock %}